body {
    padding-top: 45px;
}

#pushobj {
    margin-left: 40px;
}

#header {
    background-color: #212121;
}

.container {

    margin-right: 0;
    margin-left: 0;
}

#documentation {
    height: 100%;
    overflow: auto;
}

#toTop-right {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    outline: none;
}

a {
    color: #30d5f5;
}

a.toplink {
    font-size: 14px;
    color: #666;
}

a.toplink:hover {
    color: #333;
}

.fa-reorder {
    color: #30d5f5;
    padding-top: 5px;
}

a.dropdown-toggle {
    color: #fff;
    font-size: 16px;
}

a.dropdown-toggle {
    border-bottom: 3px solid #212121;
}

.dropdown-toggle:hover {
    background-color: #252c34;
    border-bottom: 3px solid #30d5f5;
}

.nav .open > a:focus {
    background-color: #252c34;
    border-bottom: 3px solid #30d5f5;
}

a.dropdown-toggle:hover {
    background-color: #2f3843;
}

.nav {
    border-radius: 0 0 3px 3px;
}

.multilevelpushmenu_wrapper a {
    font-size: 1.4em;
    display: list-item;
}

.multilevelpushmenu_wrapper .levelHolderClass {
    background: #212121;
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
    background: #212121;
}

.multilevelpushmenu_wrapper li:hover {
    background-color: #252c34;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #252c34;
    color: #ffffff;
}

.navbar-default .dropdown-menu > .active > a {
    background-color: #30d5f5;
}

.nav .open > a:focus {
    background-color: #252c34;
}

.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a:hover {
    background-color: #252c34;
}

#menu_multilevelpushmenu {
    position: fixed;
    top: 45px;
}
